:root {
  --max-width: 1296px;
  --back-color: red;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
}

html,
body {
  max-width: 100vw;
  background-color: #111111;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #888;
  border: 1px solid #666;
}

::-webkit-scrollbar-track:hover {
  background: #999;
  border: 1px solid #777;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
  border: 1px solid #444;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
  border: 1px solid #333;
}
