.home {
  background: url(../public/main_bgc.png) no-repeat center top;
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}

@media (max-width: 500px) {
  .home {
    background-size: calc(100vh * 2);
  }
  
}
