.main {
  min-height: 1038px;
  background: url(../public/main_bgc.png) no-repeat center top;
}

.main_title {
  width: 961px;
  height: 258px;
  color: #ffffff;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  text-align: center;
  margin: 260px auto 0;
}

.scroll {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  margin-top: 290px;
}

.about {
  padding: 120px 0 95px 0;
}

.about_title {
  text-align: center;
}

.about_description {
  width: 856px;
  height: 261px;
  margin: 60px auto 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 130%;
  color: #ffffff;
  text-align: center;
}

.about_description p {
  margin-bottom: 12px;
}

.cosmetics {
  width: 1296px;
  height: 144px;
  display: flex;
  margin: 0 auto 168px;
  justify-content: space-around;
}

.cosmetics_item {
  opacity: 0.5;
}

.copyright {
  width: 1296px;
  height: 55px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  align-items: center;
}
