.contacts {
  margin: 100px 0 80px 0;
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}

.contacts_title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 100px;
}

.map {
  margin-bottom: 80px;
  filter: sepia(60%);
  opacity: 0.8;
  border: 1px solid #CDAA7D;
  width: 1296px;
  height: 576px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 105px;
}

.info_part {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.info_title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
}

.info_description {
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
}

.info_description a {
  text-decoration: none;
  color: #fff;
}
