.cosmetics {
  padding: 170px 0 168px 0;
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0 30px;
}

.cosmetics_item {
  opacity: 0.5;
}
