.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 70px 20px;
  border-top: 1px solid #ffffff80;
  border-bottom: 1px solid #ffffff80;
}
 
.footer_title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
}
.footer_infos {
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
}

.footer_infos a {
  text-decoration: none;
  color: #fff;
}

.copyright {
  height: 55px;
  text-align: center;
  align-items: center;
}
