.main {
  height: 938px;
  margin: 0 auto;
  padding-top: 260px;
  margin-bottom: 220px;
}

.main_title {
  height: 258px;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  text-align: center;
  margin: 0 auto 15vh;
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .main {
    height: 100vh;
  }

  .main_title {
    height: 25vh;
  }

  .main_title {
    font-size: 54px;
  }
}

@media (max-width: 410px) {
  .main_title {
    font-size: 42px;
  }
}
