.ourTeam {
   margin: 100px 0 80px 0;
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}

.ourTeam_title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 100px;
}

.ourTeam_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.ourTeam_employee {
  margin-bottom: 60px;
}

.employee_imageWrapper {
  position: relative;
  width: 400px;
  height: 477px;
  margin-bottom: 30px;
}

.employee_imageFrame {
  width: 400px;
  height: 477px;
  border: 1px solid #cdaa7d80;
  position: absolute;
  left: 20px;
  top: -20px;
  z-index: 0;
}

.employee_image {
  position: absolute;
  z-index: 1;
}

.employee_name {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}

.employee_profession {
  font-weight: 400;
  font-size: 18px;
}
