.ourWorks {
  padding-bottom: 100px;
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}

.ourWorks_title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-bottom: 80px;
}

.ourWorks_navigation {
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.navigation_item {
  padding-bottom: 3px;
  border-bottom: 1px solid #ffffff00;
  cursor: pointer;
}

.navigation_activeItem {
  color: #cdaa7d;
  padding-bottom: 3px;
  border-bottom: 1px solid #cdaa7d;
  transition: ease;
  transition-duration: 800ms;
}

.navigation_item:hover {
  color: #cdaa7d;
  transition-duration: 500ms;
}

.ourWorks_works {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.works_item {
  animation-name: list;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}

@keyframes list {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.works_emptyItem {
  width: 416px;
  height: 416px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
}
