.price {
  margin: 80px 0 100px 0;
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}

.price_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.price_block:nth-child(even) {
  flex-direction: row-reverse;
}

.block_list {
  width: 526px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.list_item {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff80;
}

.item_title {
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 10px;
}

.item_cost {
  font-weight: 700;
  font-size: 27px;
  text-align: end;
}

.item_description {
  font-weight: 400;
  font-size: 18px;
}
