.reviews {
  display: flex;
  margin: 100px 0 168px 0;
  justify-content: space-around;
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}

.reviews p {
  font-weight: 400;
  font-size: 24px;
}
