.services {
  padding: 20px 0 0 0;
}

.wrapper {
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}

.services_item {
  margin-bottom: 60px;
}

.item_imageWrapper {
  position: relative;
  width: 396px;
  height: 300px;
  margin-bottom: 30px;
}

.item_imageFrame {
  width: 396px;
  height: 300px;
  border: 1px solid #cdaa7d80;
  position: absolute;
  left: 20px;
  top: -20px;
  z-index: 0;
}

.item_image {
  position: absolute;
  z-index: 1;
}

.item_title {
  font-weight: 400;
  font-size: 30px;
}
